<aside class="sidebar">
  <div class="logo">
    <span class="logo__icon">XB</span>
    <span class="logo__text">XBank</span>
  </div>

  <nav class="menu">
    <a routerLink="/dashboard" routerLinkActive="active" class="menu__item">
      <div class="menu__icon"><i class="ph ph-squares-four"></i> <span>Dashboard</span></div>
    </a>

    <a routerLink="/user-flow" routerLinkActive="active" class="menu__item">
      <div class="menu__icon"><i class="ph ph-user-list"></i> <span>Users</span></div> 
    </a>
  </nav>
</aside>
           